@page
@model PrivacyModel
@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Skorzystaj z tej strony, aby szczegółowo zapoznać się z polityką prywatności witryny.</p>
